<h3><%= link_to @channel.default_name(current_user), @channel %></h3>
  <%= simple_form_for @channel do |f| %>
    <%= f.input :name, label: false, placeholder: @channel.name %>
    <%= f.submit "change the name" %>
  <% end %>
<% unless @channel.one_to_one? %>
  <ul>
    <% @subscriptions.each do |subscription| %>
      <% if !current_user?(subscription.user) %>
        <li>
          <%= subscription.user.alias %>
          <% if @admin && @subscriptions.size > 2 %>
            <!-- Button trigger modal -->
            <%= link_to "delete", [@channel, subscription], method: :delete, data: {confirm: "Are you sure! Do you want delete #{subscription.user}"} %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <h2>Add a new friend to channel</h2>

  <%= simple_form_for :search_user, url: edit_channel_path(@channel), method: :get do |f| %>
    <div>
      <%= f.input :name, label: false, placeholder: "ex : John Smith" %>
      <button type="submit" class="btn btn-default">
        <i class="fa fa-search"></i>
      </button>
    </div>
  <% end %>

  <div>
    <ul>
      <% @users.each do |user| %>
        <li>
          <%= simple_form_for :selected_user, url: channel_subscriptions_path(@channel), method: :post do |f| %>
            <%= f.input :user_id, as: :hidden, input_html: {value: user.id } %>
            <%= f.submit user.alias %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= link_to "Delete the channel #{@channel.default_name(current_user)}", @channel, method: :delete, data: {confirm: "Are you sure! Do you want delete the channel #{@channel.default_name(current_user)}"}  %>
<!-- <a data-toggle="modal" href="/" data-target="#modal">Click me</a>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div> -->
