<div class="wrapper-messenger">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <p><%= link_to "Create a new channel", new_channel_path %></p>
        <h3><%= @channel.name %></h3>
        <% if @admin %>
          <%= link_to "edit", edit_channel_path(@channel) %>
        <% end %>
        <ul>
          <% @subscriptions.each do |subscription| %>
            <% if subscription.user != current_user %>
              <li><%= subscription.user.alias %></li>
            <% end %>
          <% end %>
        </ul>
        <ul>
          <% current_user.channels.each do |channel| %>
            <li> <%= link_to channel.name, channel %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-10">
        <% if @channel.messages %>
          <ul>
            <% @channel.messages.each do |message| %>
              <li>
                <h1><%= message.user.alias %> </h1>
                <p><%= message.content %></p>
                <% if message.user == current_user %>
                  <%= link_to "delete", "#"  %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <%= simple_form_for @message, url: channel_messages_path(@channel) do |f| %>
          <%= f.input :content, label: false %>
          <%= f.button :submit, 'Send' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
