<div class="wrapper-messenger">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-2">
        <p><%= link_to "Create a new channel", new_channel_path %></p>
        <h3><%= @channel.default_name(current_user) %></h3>
        <% if @admin %>
          <%= link_to "edit", edit_channel_path(@channel) %>
        <% end %>
        <ul>
          <% @subscriptions.each do |subscription| %>
            <% if !current_user?(subscription.user) %>
              <li><%= subscription.user.alias %></li>
            <% end %>
          <% end %>
        </ul>
        <ul>
          <% current_user.channels.each do |channel| %>
            <li>
              <% if current_user.unread_messages_nbr(channel) %>
                <div class="unread">
              <% else %>
                <div>
              <% end %>
                <%= link_to channel.default_name(current_user), channel %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-10">
        <div class="messages-container">
          <% if @channel.messages %>
            <% @channel.messages.each do |message| %>
              <%= render 'messages/shared/message', message: message %>
            <% end %>
          <% end %>
        </div>

        <br>

        <form action="">
          <label> Message </label>
          <input type="text" data-behavior="room_speaker">
        </form>
      </div>

    </div>
  </div>
</div>
