<div class="wrapper-messenger">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <p><%= link_to "Create a new channel", new_channel_path %></p>
        <h3><%= @channel.default_name(current_user) %></h3>
        <% if @admin %>
          <%= link_to "edit", edit_channel_path(@channel) %>
        <% end %>
        <ul>
          <% @subscriptions.each do |subscription| %>
            <% if !current_user?(subscription.user) %>
              <li><%= subscription.user.alias %></li>
            <% end %>
          <% end %>
        </ul>
        <ul>
          <% current_user.channels.each do |channel| %>
            <li>
              <% if current_user.unread_messages_nbr(channel) %>
                <div class="unread">
              <% else %>
                <div>
              <% end %>
                <%= link_to channel.default_name(current_user), channel %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-10">
        <ul>
          <% @channel.messages.each_with_index do |message, index| %>
            <% if index == @new_messages_limit %>
              New message <hr>
            <% end %>
            <li>
              <h1><%= message.user.alias %> </h1>
              <p><%= message.content %></p>
              <% if current_user?(message.user) %>
                <%= link_to "delete", [@channel, message], method: :delete, data: {confirm: "Are you sure! Do you want delete this post"}  %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <%= simple_form_for [@channel, @message] do |f| %>
          <%= f.input :content, label: false %>
          <%= f.button :submit, 'Send' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
